name: ci

on: [push, pull_request]

jobs:
  rust:
    name: wasmbuild-${{ matrix.os }}
    if: |
      github.event_name == 'push' ||
      !startsWith(github.event.pull_request.head.label, 'denoland:')
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-latest, windows-2019]

    env:
      GH_ACTIONS: 1

    steps:
      - name: clone repository
        uses: actions/checkout@v3

      - name: Install Rust
        uses: hecrj/setup-rust-action@v1.3.4
        with:
          rust-version: 1.58.0

      - name: Install clippy and rustfmt
        run: |
          rustup component add clippy
          rustup component add rustfmt

      - name: Setup rust-cache
        uses: Swatinem/rust-cache@v1

      - name: Install deno
        uses: denoland/setup-deno@v1.0.0
        with:
          deno-version: 1.x

      - name: Check fmt
        run: |
          deno fmt --check
          cargo fmt -- --check

      - name: Test
        run: deno task test

      - name: Ensure wasm output up to date
        run: deno task build --check
