name: ci

on: [push, pull_request]

jobs:
  rust:
    name: wasmbuild-${{ matrix.os }}
    if: |
      github.event_name == 'push' ||
      !startsWith(github.event.pull_request.head.label, 'denoland:')
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-latest, windows-2019]

    env:
      GH_ACTIONS: 1

    steps:
      - name: clone repository
        uses: actions/checkout@v3

      - name: Install Rust
        uses: dsherret/rust-toolchain-file@v1

      - name: Setup rust-cache
        uses: Swatinem/rust-cache@v1

      - name: Install deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: 1.x

      - name: Check fmt
        if: contains(matrix.os, 'ubuntu')
        run: deno fmt --check && cargo fmt -- --check

      - name: Test
        run: deno task test

      - name: Check Wasm up-to-date
        run: deno task build --check
